header {
  border: 1px yellow solid;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 15px;
}

.disabled {
  color: grey;
}

.disabled a {
color: purple;
}

.active {
  color: yellow;
}

.parent div:nth-child(1){
  color: red;
}